@use "./../0_foundation/vars" as *;

.c-ttl {
  font-weight: bold;
  letter-spacing: 0.05em;
  &.c-ttl--54 {
    font-size: 5.4rem;
    @include mq("sp") {
      font-size: 4rem;
    }
  }
  &.c-ttl--44 {
    font-size: 4.4rem;
    @include mq("sp") {
      font-size: 3.4rem;
    }
  }
  &.c-ttl--42 {
    font-size: 4.2rem;
    @include mq("sp") {
      font-size: 3.2rem;
    }
  }
  &.c-ttl--40 {
    font-size: 4rem;
    @include mq("sp") {
      font-size: 3rem;
    }
  }
  &.c-ttl--32 {
    font-size: 3.2rem;
    @include mq("sp") {
      font-size: 2.5rem;
    }
  }
  &.c-ttl--30 {
    font-size: 3rem;
    @include mq("sp") {
      font-size: 2.4rem;
    }
  }
  &.c-ttl--24 {
    font-size: 2.4rem;
    @include mq("sp") {
      font-size: 1.8rem;
    }
  }
  &.c-ttl--20 {
    font-size: 2.0rem;
    @include mq("sp") {
      font-size: 1.7rem;
    }
  }
}

/*　画像付きタイトル　*/
.c-ttl-img {
  @extend .c-ttl;
  font-size: 3.2rem;
  text-align: center;
  @include mq("sp") {
    font-size: 2.7rem;
  }
  img{
    margin: 0 auto 0.5rem;
    width: 5rem;
    display: block;
  }
  span{
    display: block;
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 500;
    color:$color-news;
    @include mq("sp") {
      font-size: 1.4rem;
    }
  }
  &.c-ttl-img--white{
    span{
      color:#FFF;
    }
  }
}


/*クラブサムネイル用 タイトル*/
.c-ttl-thumbnail {
  color: #fff;
  text-align: center;
  .c-ttl-thumbnail__area{
    padding: 0.2rem 2.5rem;
    background: #fff;
    border-radius: 50vh;
    color:$color-main;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  .c-ttl-thumbnail__text{
    margin-top: 1rem;
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    line-height: 1.5;
    display: block;
    text-align: left;
      @include mq("sp") {
        font-size: 2.5rem;
      }
  }
}


/*about用 タイトル*/
.c-ttl-about{
  align-items: baseline;
  min-height: auto;
  .wp-block-cover__image-background{
    margin: 3rem auto 0;
    // padding-top: 3rem;
    max-width: 75rem;
    min-height: auto;
    object-fit: contain;
    @include mq("sp") {
      margin-top: 7rem;
      margin-left: -25%;
      width: 60rem;
      overflow: hidden;
    }
  }
  .wp-block-columns{
    margin: 0 auto;
    max-width: 85rem;
    text-align: center;
    gap: 0;
  }

  .wp-block-column img{
    width: 23.9rem;
    @include mq("sp") {
      width: 15rem;
    }
  }
  p{
    margin-top: 0rem;
    @include mq("sp") {
      margin-top: 0rem;
      line-height: 1.3;
    }
  }
  h1{
    letter-spacing: 0.1em;
    line-height: 1;
    @include mq("sp") {
      margin-top: 1rem;
      line-height: 1.3;
    }
  }
}
