@use "./../0_foundation/vars" as *;

.c-ttl {
  font-weight: bold;
  letter-spacing: 0.05em;
  &.c-ttl--44 {
    font-size: 4.4rem;
    @include mq("sp") {
      font-size: 3.4rem;
    }
  }
  &.c-ttl--32 {
    font-size: 3.2rem;
    @include mq("sp") {
      font-size: 2.5rem;
    }
  }
  &.c-ttl--30 {
    font-size: 3rem;
    @include mq("sp") {
      font-size: 2.4rem;
    }
  }
  &.c-ttl--24 {
    font-size: 2.4rem;
    @include mq("sp") {
      font-size: 1.8rem;
    }
  }
}

/*　画像付きタイトル　*/
.c-ttl-img {
  @extend .c-ttl;
  font-size: 3.2rem;
  text-align: center;
  @include mq("sp") {
    font-size: 2.7rem;
  }
  img{
    margin: 0 auto 0.5rem;
    width: 5rem;
    display: block;
  }
  span{
    display: block;
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 500;
    color:$color-news;
    @include mq("sp") {
      font-size: 1.4rem;
    }
  }
  &.c-ttl-img--white{
    span{
      color:#FFF;
    }
  }
}


/*クラブサムネイル用 タイトル*/
.c-ttl-thumbnail {
  color: #fff;
  text-align: center;
  .c-ttl-thumbnail__area{
    padding: 0.2rem 2.5rem;
    background: #fff;
    border-radius: 50vh;
    color:$color-main;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  .c-ttl-thumbnail__text{
    margin-top: 1rem;
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    line-height: 1.5;
    display: block;
    text-align: left;
      @include mq("sp") {
        font-size: 2.5rem;
      }
  }
}


