@use "./../0_foundation/vars" as *;

$drawer-bar-space: 0.7rem;
$drawer-bar-width: 3.4rem;
$drawer-bar-height: 0.2rem;
$drawer-content-width: 100%;
//スライドインするメニューの幅

// -----
// ドロワー
// -----
.c-drawer__icon {
  position: fixed;
  top: 0.8rem;
  right: 1.5rem;
  z-index: map-get($layer, "drawer") + 1;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background: transparent;
  box-shadow: none;
  border: none;
  display: block;
}

// トップページのみ
.top .c-drawer__icon {
  top: 4.8rem;
}
.top .l-header.is-scroll .c-drawer__icon{
  top:0.8rem;
}


.c-drawer__bars {
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: inline-block;
  width: $drawer-bar-width;
  height: $drawer-bar-height + ($drawer-bar-space + $drawer-bar-height) * 2;
  position: relative;
  vertical-align: middle;
}

.c-drawer__bar {
  position: absolute;
  left: 0rem;
  display: block;
  background: #FFF;
  width: 100%;
  height: $drawer-bar-height;
  border-radius: 2px;
  transition: all 0.3s linear 0s;

  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: $drawer-bar-space + $drawer-bar-height;
  }
  &:nth-of-type(3) {
    top: ($drawer-bar-space + $drawer-bar-height) * 2;
  }

  .is-checked & {
    &:nth-of-type(1) {
      top: 10px;
      transform: rotate(-45deg);
    }

    &:nth-of-type(2) {
      background: transparent;
    }

    &:nth-of-type(3) {
      top: 10px;
      transform: rotate(45deg);
    }
  }
}

.c-drawer__content {
  margin: 0;
  position: fixed;
  top: $header-height-sp;
  right: 0;
  bottom: auto;
  left: 0;
  transition: transform 0.5s 0s ease;
  transform: translateX(100%);
  z-index: map-get($layer, "drawer");
  width: $drawer-content-width;
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #f1f1f1;
  &.is-checked {
    transform: translateX(0);
  }
}
// トップページのみ
.top .c-drawer__content {
  top: calc($header-height-sp + 5rem) ;
  &.is-scroll{
    top:$header-height-sp;
  }
}

.c-drawer__content{
  .c-drawer__menus ul{
    margin-top: 0rem;
    list-style: none;
    & > li {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid $color-main;
      position: relative;
      & > a {
        color: $color-main;
        font-size: 1.6rem;
        // letter-spacing: 0.25em;
        text-decoration: none;
        text-align: center;
      }
    }
  }
  .menu-item-has-children{
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 90%;
      transform: translate(-50%, -50%);
      display:inline-block;
      border-left: 1px solid $color-main;
      width: 5.5rem;
      height: 3.7rem;
      background: $color-main;
    }
    &::before {
      width: 15px;
      height: 1px;
    }
    &::after {
      width: 1px;
      height: 15px;
    }
    &.is-checked {
      &::after {
        display: none;
      }
    }
  }
  .menu-item-has-children > .sub-menu {
    margin-top: 1.3rem;
    padding-top: 0rem;
    background-color: #fff;
    position: absolute;
    left: 0rem;
    width: 100%;
    height: 100vh;
    transition: 0.3s transform ease;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1;
    &.is-checked {
      visibility: visible;
      transform: scaleY(1);
    }
    li a{
      padding-left: 2rem;
      font-size: 1.4rem;
    }
    }
  }


