@use "./../0_foundation/vars" as *;

.c-form {

  .smf-item__col--label {
    margin-top: 4rem;
    .smf-item__label__text{
      font-size: 2rem;
      code{
        font-size: 1.6rem;
      }
    }
  }
  .c-form__required {
    .smf-item__label {
      font-size: 1.6rem;
      &::before {
        margin-right: 1rem;
        content: "必須";
        padding: 0.4rem 0.8rem 0.6rem;
        display: inline-block;
        border-radius: 4px;
        background: #EA740D;
        color: #fff;
        font-size: 1.6rem;
        line-height: 1;
        text-align: center;
        vertical-align: text-bottom;
      }
    }
  }


  .smf-item .smf-item__controls {
    textarea,
    select,
    input[type="text"],
    input[type="tel"],
    input[type="email"]{
      margin-top: 1rem;
      padding: 1.6rem 2rem;
      border: 1px solid #000;
      border-radius: 0.5rem;
      background: #f9f9f9;
      mix-blend-mode: multiply;
      width: 100%;
      &.c-form__w500 {
        max-width: 50rem;
      }
      &.c-form__w760 {
        max-width: 76rem;
      }
    }
    textarea {
      overflow-wrap: break-word;
    }
    .smf-select-control{
      width: 100%;
    }
  }
  .smf-checkbox-control{
    align-items: center;
    input{
      margin-top: 0;
      margin-right: 0.5rem;
      border: 1px solid #000;
    }
  }
  .smf-select-control__toggle{
    &::before{
      content: "\f078";
      right:1rem;
      background:$color-main;
      border: none;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50vh;
      transform: rotate(0);
      color:#FFF;
      font-family: "Font Awesome 6 Free";
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }

  }
}

//フォーム用ボタン
.smf-action {
  margin-top: 5rem;
text-align: center;
  .smf-button-control__control {
    padding: 0;
    display: inline-block;
    width: 32.5rem;
    max-width: 100%;
    height: 5.4rem;
    text-align: center;
    // padding: 0rem 1.5rem;
    background:url('../img/btn-bg.png');
          background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      color:#FFF;
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 5.4rem;
      letter-spacing: 0.07em;
      &:hover{
        opacity: $hover-opacity;
      }
  }
}

.c-form__link {
  color: $color-main;
  font-weight: bold;
  &:hover {
    opacity: $hover-opacity;
  }
}



// .c-form__bottom-text {
//   text-align: center;
// }

// .confirm {
//   .c-form__select {
//     display: inline-flex;
//     align-items: center;
//     position: relative;
//     &::after {
//       display: none;
//       position: absolute;
//       right: 15px;
//       width: 10px;
//       height: 7px;
//       background-color: #535353;
//       clip-path: polygon(0 0, 100% 0, 50% 100%);
//       content: "";
//       pointer-events: none;
//     }
//   }
// }


.c-contact__box{
  margin: 0 auto;
  padding: 2.4rem 4rem;
  max-width: 110rem;
  border: 1px solid #000;
  @include mq("sp") {
    padding: 2rem 1.5rem;
  }
  ul{
    li {
      margin-bottom: 1.6rem;
      font-size: 1.7rem;
      padding-left: 1.2rem;
      text-indent: -0.8rem;
      line-height: 1.8;
      @include mq("sp") {
        font-size: 1.5rem;
      }
      &::before {
        content: "※";
        font-size: 1.6rem;
        margin-right: 0.3rem;
        display: inline-block;
      }
    }
  }
}

//

// .c-form__table {
//   margin: 0 auto;
//   padding: 0 2rem;
//   width: 100%;
//   dl {
//     display: flex;
//     padding: 3rem 0rem;
//     @include mq("sp") {
//       display: block;
//       padding: 1rem 1.5rem 0;
//       border-bottom: none;
//     }
//   }
//   dt {
//     width: 35rem;
//     font-size: 1.6rem;
//     @include mq("sp") {
//       width: 28rem;
//     }
//   }
//   dd {
//     width: calc(100% - 35rem);
//     font-size: 1.6rem;
//     @include mq("sp") {
//       width: 100%;
//     }
//   }

//   .c-form__select {
//     display: inline-flex;
//     align-items: center;
//     position: relative;
//     &::after {
//       position: absolute;
//       right: 15px;
//       width: 10px;
//       height: 7px;
//       background-color: #535353;
//       clip-path: polygon(0 0, 100% 0, 50% 100%);
//       content: "";
//       pointer-events: none;
//     }
//   }

//   textarea,
//   select,
//   input[type="text"],
//   input[type="tel"],
//   input[type="email"] {
//     padding: 0.8rem 1rem;
//     border: 1px solid #aaa;
//     background: #fff;
//     width: 100%;
//     &.c-form__w500 {
//       max-width: 50rem;
//     }
//     &.c-form__w760 {
//       max-width: 76rem;
//     }
//   }
//   textarea {
//     overflow-wrap: break-word;
//   }
//   select {
//     width: 26.8rem;
//   }
// }
// .c-form__link {
//   color: #2125aa;
//   &:hover {
//     opacity: $hover-opacity;
//   }
// }

// .c-form__required {
//   &::before {
//     margin-right: 1rem;
//     content: "必須";
//     padding: 0.3rem 1.1rem;
//     display: inline-block;
//     width: 5rem;
//     height: 2.2rem;
//     background: $color-main;
//     color: #fff;
//     font-size: 1.4rem;
//     line-height: 1;
//     text-align: center;
//   }
// }

// .c-form__bottom-text {
//   text-align: center;
// }

// .confirm {
//   .c-form__select {
//     display: inline-flex;
//     align-items: center;
//     position: relative;
//     &::after {
//       display: none;
//       position: absolute;
//       right: 15px;
//       width: 10px;
//       height: 7px;
//       background-color: #535353;
//       clip-path: polygon(0 0, 100% 0, 50% 100%);
//       content: "";
//       pointer-events: none;
//     }
//   }
// }
