@use "./../0_foundation/vars" as *;

.c-text-25{
  font-size: 2.5rem;
  @include mq("sp") {
    font-size: 1.8rem;
  }
}
.c-text-22{
  font-size: 2.2rem;
  @include mq("sp") {
    font-size: 1.7rem;
  }
}
.c-text-20{
  font-size: 2rem;
  @include mq("sp") {
    font-size: 1.6rem;
  }
}
.c-text-19{
  font-size: 1.9rem;
  @include mq("sp") {
    font-size: 1.6rem;
  }
}
.c-text-18{
  font-size: 1.8rem;
  @include mq("sp") {
    font-size: 1.6rem;
  }
}
.c-text-15{
  font-size: 1.5rem;
  @include mq("sp") {
    font-size: 1.4rem;
  }
}
