/* p-template-contact
--------------------------- */
@use "./../0_foundation/vars"as *;

// -----
// template/contact.php
// -----

.p-template-contact {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  .p-template-contact__inner{
    padding: 2.6rem 3.6rem 2rem;
    background: #FFF;
    border: 1px solid #636262;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    @include mq("sp") {
      padding: 2rem 4rem 2rem;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .p-template-contact__title-jp{
    margin-top: -1rem;
    margin-left: 0.5rem;
  }
  .p-template-contact__text{
    margin-left: 7rem;
    @include mq("sp") {
      margin-left: 0;
      font-size: 1.3rem;
      line-height: 1.5;
    }
  }
  .p-template-contact__btn{
    margin-left: 14rem;
    @include mq("sp") {
      margin-left: 0;
    }
  }
}

// 非表示のページ
.contact .p-template-contact,
.recruit-form .p-template-contact{
  display: none;
}
