/* p-top
--------------------------- */
@use "./../0_foundation/vars" as *;

//トップページ　メインビジュアル
.p-top-mv {
  background: url("../img/top-mv-bg.png");
  background-position: center, center;
  background-size: contain;
  background-repeat: no-repeat;
  @include mq("sp") {
    background-size: cover;
  }
  .p-top-mv__slider-top,
  .p-top-mv__slider-bottom {
    height: 23.4rem;
    @include mq("sp") {
      height: 15.2rem;
    }
  }
  /* トランジションをリニアに */
  .swiper--top .swiper-wrapper,
  .swiper--bottom .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  .p-top-mv__text {
    padding: 2rem 2rem;
    font-family: $font_ttl;
    font-size: 5.1rem;
    font-weight: 800;
    text-align: center;
    @include mq("sp") {
      font-size: 4.1rem;
      line-height: 1.5;
    }
  }
  .p-top-mv__text-small {
    font-size: 3.9rem;
    @include mq("sp") {
      font-size: 2.9rem;
    }
  }
  .p-top-mv__text-blue {
    color: $color-main;
  }
  .p-top-mv__text-orange {
    color: #ea740d;
  }
  .p-top-mv__text-green {
    color: #80ca31;
  }
  .p-top-mv__text-narrow {
    letter-spacing: -2.5rem;
  }
}

/*トップページ　兵庫県協議会とは？*/
.p-top-about {
  margin-top: 8rem;
  @include mq("sp") {
    margin-top: 6rem;
  }
  .p-top-about__inner {
    display: flex;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    @include mq("tab") {
      flex-direction: column;
    }
    @include mq("sp") {
      flex-direction: column;
    }
  }
  .p-top-about__content {
    margin: 0 auto;
    max-width: 61rem;
    text-align: center;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top:25%;
      left:-98%;
      width: 106.8rem;
      height: 51.6rem;
      background: url("../img/top-mv-bg.png");
      background-position: center, center;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: -1;
      @include mq("tab") {
        left:-128%;
      }
      @include mq("sp") {
        width: 60rem;
        left:-30rem;
      }
    }
  }
  .p-top-about__content-title {
    margin-top: 0.4rem;
    line-height: 1.3;
    @include mq("sp") {
      margin-top: 3rem;
    }
  }
  .p-top-about__content-title img {
    width: 27.5rem;
    @include mq("tab") {
      width: 22rem;
    }
    @include mq("sp") {
      width: 17rem;
    }
  }
  .p-top-about__content-text {
    margin-top: 4rem;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 1.8;
    @include mq("tab") {
      font-size: 1.7rem;
    }
    @include mq("sp") {
      font-size: 1.5rem;
    }
  }
  .p-top-about__content-btn {
    margin-top: 2rem;
    @include mq("tab") {
      margin-top: 4rem;
    }
    @include mq("sp") {
      margin-top: 4rem;
    }
  }
  .p-top-about__map {
    margin-top: 3rem;
    text-align: center;
    img {
      @include mq("tab") {
        max-width: 50rem;
      }
      @include mq("sp") {
        max-width: 35rem;
      }
    }
  }
  .p-top-about__triangle {
    position: relative;
    width: 0;
    height: 0;
    margin: 0rem auto 0; /* センター */
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: clamp(7.5rem, -17.389rem + 51.85vw, 21.5rem) solid #fff;
    z-index: 1;
    @include mq("sp") {
      border-top: 7.5rem solid #fff;
    }
  }
}
/*トップ　各クラブのご紹介（クラブ一覧）*/
.p-top-look {
  margin-top: calc(0px - clamp(7.5rem, -17.389rem + 51.85vw, 21.5rem));
  padding-top: 30rem;
  background: $color-bg-light;
  border-top: 1px solid #fff;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    background: url("../img/top-club-bg.png");
    background-position: center, center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 26.3rem;
    height: 31rem;
  }
  @include mq("sp") {
    margin-top: -7.5rem;
    padding-top: 12rem;
    &::before {
      width: 13.2rem;
      height: 15.5rem;
    }
  }
  .p-top-look__warp {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.1rem 4.1rem; /* 既存のgapと同じ */
    justify-content: center;
    @include mq("tab") {
      grid-template-columns: repeat(auto-fill, minmax(36.5rem, 36.5rem));
    }
    @include mq("sp") {
      gap: 2rem 0rem; /* 既存のgapと同じ */
      grid-template-columns: repeat(auto-fill, minmax(28rem, 36.5rem));
    }
  }
  .p-top-look__triangle {
    position: relative;
    width: 0;
    height: 0;
    margin: 0rem auto 0; /* センター */
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: clamp(7.5rem, -17.389rem + 51.85vw, 21.5rem) solid
      $color-bg-light;
    z-index: 2;
    @include mq("sp") {
      border-top: 7.5rem solid $color-bg-light;
    }
  }
}

/*トップページ　お知らせ*/
.p-top-news {
  margin-top: calc(0px - clamp(7.5rem, -17.389rem + 51.85vw, 21.5rem));
  padding-top: 30rem;
  background: #fff;
  border-top: 1px solid $color-bg-light;
  position: relative;
  z-index: 1;
  @include mq("sp") {
    margin-top: -7.5rem;
    padding-top: 12rem;
  }
  .p-top-news__tab {
    margin-top: 5.8rem;
  }
  .c-tab__content{
    padding: 0.5rem 2.5rem 0.5rem;
  }
  .p-top-news__btn {
    margin-top: 4rem;
    text-align: center;
  }
}

/*トップページ　登録制度について-*/
.p-top-consider {
  margin-top: 16rem;
  padding: 4.3rem 0;
  background: url("../img/top-consider-bg.jpg");
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  @include mq("sp") {
    margin-top: 8rem;
  }
  .p-top-consider__inner {
    margin: 0 auto;
    max-width: 95.2rem;
    padding: 4rem 9rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2.1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include mq("sp") {
      padding: 3rem 2rem;
    }
  }
  .p-top-consider__title {
    text-align: center;
    img {
      margin: 0 auto;
      width: 10rem;
      display: block;
    }
  }
  .p-top-consider__title-main,
  .p-top-consider__title-sub{
    color:$color-main;
    font-family: $font-ttl;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.3;
    display: block;
  }
  .p-top-consider__title-sub{
    margin-top: 2.5rem;
    font-size: 2.8rem;
    @include mq("sp") {
      font-size: 2.2rem;
    }
    @include mq("xs") {
      font-size: 1.8rem;
    }
  }
  .p-top-consider__title-main{
    font-size: 3.1rem;
    @include mq("sp") {
      font-size: 2.7rem;
    }
  }
  .p-top-consider__text {
    margin-top: 3rem;
  }
  .p-top-consider__btn {
    margin-top: 4rem;
    text-align: center;
  }
}
/*トップページ　アクセス*/
.p-top-access {
  margin-top: 15rem;
  @include mq("sp") {
    margin-top: 7rem;
  }
  .p-top-access__map {
    margin-top: 2.3rem;
  }
}

/*トップページ　リンク*/
.p-top-link {
  margin-top: 4.1rem;
  margin-bottom: 7.5rem;
  color: #fff;
  @include mq("sp") {
    margin-top: 2.6rem;
  }
  .p-top-link__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.3rem;
    justify-content: center;
    @include mq("tab") {
      grid-template-columns: repeat(auto-fill, minmax(27.1rem, 27.1rem));
    }
    @include mq("sp") {
      grid-template-columns: repeat(auto-fill, minmax(23rem, 23rem));
      gap: 1.5rem; /* 既存のgapと同じ */
    }
  }
}
