/* p-top
--------------------------- */
@use "./../0_foundation/vars" as *;

//トップページ　メインビジュアル
.p-top-mv {
  background:url("../img/top-mv-bg.png");
  background-position: center, center;
  background-size: contain;
  background-repeat: no-repeat;
  .p-top-mv__slider-top,
  .p-top-mv__slider-bottom {
    height: 23.4rem;
  }
  /* トランジションをリニアに */
  .swiper--top .swiper-wrapper,
  .swiper--bottom .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  .p-top-mv__text{
    padding: 5rem 2rem;
    font-family: $font_ttl;
    font-size: 5.1rem;
    font-weight: 800;
    text-align: center;
    // letter-spacing: 0rem;
  }
  .p-top-mv__text-small{
    font-size: 3.9rem;
  }
  .p-top-mv__text-blue{
    color:$color-main;
  }
  .p-top-mv__text-orange{
    color:#EA740D;
  }
  .p-top-mv__text-green{
    color:#80CA31;
  }
  .p-top-mv__text-narrow{
    letter-spacing: -2.5rem;
  }
}

/*トップページ　兵庫県協議会とは？*/
.p-top-about{
  margin-top: 8rem;
  @include mq("sp") {
    margin-top: 6rem;
  }
  .p-top-about__inner{
    display: flex;
    gap:1.5rem;
    position: relative;
    z-index: 2;
    @include mq("tab") {
      flex-direction: column;
    }
    @include mq("sp") {
      flex-direction: column;
    }
  }
  .p-top-about__content{
    margin: 0 auto;
    max-width: 61rem;
    text-align: center;
  }
  .p-top-about__content-title{
    margin-top: 0.4rem;
    line-height: 1.3;
    @include mq("sp") {
      margin-top: 3rem;
    }
  }
  .p-top-about__content-title img{
    width: 27.5rem;
    @include mq("tab") {
      width: 22rem;
    }
    @include mq("sp") {
      width: 17rem;
    }
  }
  .p-top-about__content-text{
    margin-top: 4rem;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 1.8;
    @include mq("tab") {
      font-size: 1.7rem;
    }
    @include mq("sp") {
      font-size: 1.5rem;
    }
  }
  .p-top-about__content-btn{
    margin-top: 2rem;
    @include mq("tab") {
      margin-top: 4rem;
    }
    @include mq("sp") {
      margin-top: 4rem;
    }
  }
  .p-top-about__map{
    margin-top: 3rem;
    text-align: center;
    img{
      @include mq("tab") {
        max-width: 50rem;
      }
      @include mq("sp") {
        max-width: 35rem;
      }
    }
  }
  .p-top-about__triangle{
    position: relative;
    width: 0;
    height: 0;
    margin: 0rem auto 0; /* センター */
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 15vw solid #FFF;
    z-index: 1;
  }
}

.p-top-club{
  margin-top: -14.9vw;
  background: $color-bg-light;
  height: 20rem;
}

/*トップページ　メッセージ*/
.p-top-message {
  padding-top: 5rem;
  padding-bottom: 4.6rem;
  background: $color-main;
  @include mq("sp") {
    padding-top: 0rem;
    padding-bottom: 5rem;
  }
  .p-top-message__inner {
    display: flex;
    justify-content: space-between;
    @include mq("sp") {
      flex-direction: column;
      gap: 3rem;
    }
  }
  .p-top-message__body{
    margin-top: 3rem;
    color: #fff;
  }
  .p-top-message__title{
    padding-bottom: 1.5rem;
  }
  .p-top-message__text {
    margin-top: 2.5rem;
    font-size: 3.6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    @include mq("tab") {
      font-size: 3rem;
    }
    @include mq("sp") {
      font-size: 2rem;
    }
  }
  .p-top-message__img {
    max-width: 41.2rem;
    @include mq("sp") {
      width: 100%;
      height: auto;
    }
  }
}

/*トップページ　黒の背景　強みと製品*/
.p-top-bg {
  // margin-top: 8.6rem;
  padding-bottom: 8.2rem;
  background: #000;
  color: #fff;
  @include mq("sp") {
    // margin-top: 4.6rem;
    padding-bottom: 4rem;
  }

  .p-top-strength {
    padding-top: 9.9rem;
    @include mq("sp") {
      padding-top: 5rem;
    }
  }
  .p-top-product {
    margin-top: 15.5rem;
    @include mq("sp") {
      margin-top: 7rem;
    }
  }
  .p-top-strength__inner,
  .p-top-product__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .p-top-strength__warp,
  .p-top-product__warp,
  .c-card-strength__item,
  .c-card-product__item {
    max-width: 52rem;
    @include mq("sp") {
      max-width: 100%;
    }
  }
  .p-top-strength__text,
  .p-top-product__text {
    margin-top: 1.5rem;
    margin-right: 3rem;
    line-height: 1.6;
    @include mq("sp") {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

/*トップページ　リンク*/
.p-top-link {
  margin-top: 8.6rem;
  color: #fff;
  @include mq("sp") {
    margin-top: 4.6rem;
  }
  .p-top-link__flex {
    display: flex;
    @include mq("sp") {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .p-top-link__item {

  }
  .p-top-link__item-title-jp {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    @include mq("sp") {
      margin-top: 0rem;
    }
  }
  .p-top-link__item-text {
    margin-top: 1rem;
    line-height: 1.8;
  }
  .p-top-link__item-link {
    margin-top: 4.5rem;
    @include mq("sp") {
      margin-top: 2.5rem;
    }
    a {
      margin-left: auto;
    }
  }
}

/*トップページ　求人情報*/
.p-top-recruit {
  margin-top: 8.6rem;
  @include mq("sp") {
    margin-top: 4.6rem;
  }
  position: relative;
  &::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 45.5rem;
    background: $color-main;
    z-index: -1;
    @include mq("sp") {
      height: 35rem;
    }
  }
  .p-top-recruit__title-flex{
   padding-top: 9rem;
   display: flex;
   gap: 10rem;
   color: #fff;;
   @include mq("sp") {
    padding-top: 4rem;
    display: block;
  }
 }
 .p-top-recruit__title-jp{
  margin-top: -1.2rem;
  font-weight: 500;
 }
 .p-top-recruit__title-flex-right{
  margin-top: 2.2rem;
  max-width: 55rem;
 }
 .p-top-recruit__mv{
  margin-top: 4rem;
 }
 .p-top-recruit__content{
  margin-top: 6.5rem;
  @include mq("sp") {
    margin-top: 4rem;
  }
 }
 .p-top-recruit__link{
  margin-top: 6rem;
  a{
    margin: 0 auto;
  }
 }
}

/*トップページ　新着情報*/
.p-top-news {
  margin-top: 10rem;
  padding-top: 8rem;
  padding-bottom: 8.5rem;
  background: #000;
  color:#FFF;
  @include mq("sp") {
    margin-top: 5rem;
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }
  .p-top-news__inner {
    display: flex;
    gap: 6.5rem;
    width: 100%;
    @include mq("sp") {
      display: block;
    }
  }
  .p-top-news__title-jp {
   margin-top: -1rem;
  }
  .p-top-news__right {
    width: 100%;
    @include mq("sp") {
      margin-top: 2rem;
      width: 100%;
    }
  }
  .p-top-news__top-link {
    margin-top: 1rem;
    margin-right: 11rem;
    text-align:right;
    &:hover{
      color:$color-main;
    }
    @include mq("tab") {
      margin-right: 0rem;
    }
    @include mq("sp") {
      margin-top: 3rem;
    }
  }
}



/*トップページ　トピックス*/
.p-top-topics{
  padding-top: 6.5rem;
  padding-bottom: 17rem;
  background: #f2f2f2;
  @include mq("sp") {
    padding-top: 3.5rem;
    padding-bottom: 15rem;
  }
  .p-top-topics__title-jp{
    margin-top: -2.5rem;
    font-weight: 500;
    @include mq("sp") {
      margin-top: -1.5rem;
    }
  }
  .p-top-topics__content{
    margin-top: 4rem;
  }
}
