/* ---------------------------
l-footer
--------------------------- */
@use "./../0_foundation/vars"as *;

.l-footer {
  background: $color-bg-dark;
  .l-footer__inner {
    padding-top: 3.5rem;
    padding-bottom: 7.6rem;
    // width: 100%;
    color: #fff;
    display: flex;
    gap:0 12rem;
    @include mq("tab") {
      gap:0 3rem;
    }
    // justify-content: space-between;
    @include mq("sp") {
      // padding-top: 2rem;
      padding-bottom: 3rem;
      flex-direction: column;
    }
  }




  .l-footer__address {
    // flex: 0 0 47rem;
    @include mq("sp") {
      margin: 0 auto;
    max-width: 32rem;
    }
  }
  .l-footer__address-logo img{
    height: 7.6rem;
    display: block;
    @include mq("sp") {
      height: 5.7rem;
    }
    &:hover {
      opacity: $hover-opacity;
    }
  }
  .l-footer__address-item {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    line-height: 1.7;
    font-weight: 500;
    @include mq("tab") {
      font-size: 1.5rem;
    }
    @include mq("sp") {
      margin-top: 2rem;
    }
  }
  .l-footer__address-link{
    margin-top: 4.5rem;
    margin-left: 2.5rem;
    font-weight: bold;
  }


  .l-footer__menu{
    margin-top: 3rem;
    width: calc(100% - 32rem);
    @include mq("sp") {
      border-top: 2px solid #FFF;
      width: 100%;
      // スマホ用
      li{
        padding: 1rem 1.5rem;
        border-bottom: 2px solid #FFF;
      }
      li a{
        font-weight: bold;
      }
    }
  }
  .l-footer__menu-top ul{
    display: flex;
    gap: 8rem;
    @include mq("sp") {
      flex-direction: column;
      gap:0;
    }
  }
  .l-footer__menu-top ul li a{
    font-size: 1.8rem;
    font-weight: bold;
    &:hover{
      opacity: $hover-opacity;
    }
    @include mq("tab") {
      font-size: 1.6rem;
    }
    @include mq("sp") {
      font-size: 1.6rem;
    }
  }
  .l-footer__menu-club{
    font-weight: bold;
    margin-top: 2rem;
    @include mq("sp") {
      margin-top: 0rem;
      font-size: 1.6rem;
    }
  }
  .l-footer__menu-club-warp{
    margin-left: 2rem;
    column-count: 2;
    font-size: 1.5rem;
    @include mq("sp") {
      column-count: 1;
      gap:0;
    }
  }


  .l-footer__copyright{
    background: #fff;
    font-size:1.4rem ;
    padding: 1rem 1.5rem;
    text-align: center;
  }
}
