/*---------------------------
 l-header
--------------------------- */
@use "./../0_foundation/vars"as *;

.l-header {
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  top: 0rem;
  left: 0;
  right:0;
  width: 100%;
  z-index: map-get($layer, "header");


  .l-header__flex {
    // padding: 0 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3.7rem;
    height: $header-height-pc;
    @include mq("tab") {
      height: $header-height-tab;
      gap: 0rem;
    }
    @include mq("sp") {
      height: $header-height-sp;
    }
  }
  .l-header__left{
    width: 28%;
    @include mq("sp") {
      width: 100%;
    }
  }
  .l-header__left-logo {
    display: inline-block;
    .l-header__left-logo-link {
      display: block;
    }
    .l-header__left-logo-link img{
      height: 7.6rem;
      display: block;
      @include mq("tab") {
        height: 6rem;
      }
      @include mq("sp") {
        height: 5.7rem;
      }
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }

  .l-header__right {
    width: 65%;
    flex:1;
    // margin-top: 1.2rem;
    // margin-left: auto;
    padding: 1.1rem 1.1rem 1.1rem 3.4rem;
    height: 7rem;
    background: $color-main;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap:6rem;
    justify-content: space-between;
    @include mq("tab") {
      padding: 1.1rem 1.1rem 1.1rem 1.1rem;
      gap:1rem;
    }
  }
  .l-header__right-mail{
    flex:0 0 5rem;
    width: 5rem ;
    height: 5rem ;
    border-radius: 50vh;
    background: #FFF;
    border: 2px solid #FFF;
    &:hover{
      background: $color-main;
      .l-header__right-mail-link{
        color:#FFF;
      }
    }
  }
  .l-header__right-mail-link{
    display: block;
    color:$color-main;
    text-align: center;
    line-height: 4.5rem;
    font-size: 2.5rem;
  }
}
