/* l-page
sidebar.php
page.php
--------------------------- */
@use "./../0_foundation/vars"as *;

/*固定ページ*/
.l-page {
  .l-page__title{
    margin-top: 6rem;
    text-align: center;
    @include mq("sp") {
      margin-top: 3rem;
    }
  }
.l-page__content{
  margin: 10rem auto 0;
  @include mq("sp") {
    margin-top: 5rem;
  }
}
}


/*投稿ページ*/
.l-single {
  padding-top: 6rem;
  @include mq("sp") {
    padding-top: 3rem;
  }
  .l-single__icon{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:0.8rem
  }
  .l-single__content{
    max-width: 98rem;
    margin: 6rem auto 0rem;
    @include mq("sp") {
      margin: 3rem auto 0rem;
    }
  }
  h2{
    margin: 1rem 0 2rem;
    padding: 0.5rem 0;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 2.4rem;
    line-height: 1.5;
    @include mq("tab") {
      padding-left: 1rem;
    }
    @include mq("sp") {
      font-size: 1.8rem;
      padding-left: 1.5rem;
    }
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top:0;
      left:-2rem;
      width:0.8rem;
      height: 100%;
      background: $color-news;
      @include mq("tab") {
        left:-1rem;
      }
      @include mq("sp") {
        left:0rem;
      }
    }
  }
  h3{
    margin: 2rem 0 2rem;
    padding: 0.8rem 1rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 1.8rem;
    line-height: 1.5;
    @include mq("sp") {
      font-size: 1.6rem;
    }
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top:0;
      left:-1.2rem;
      width:100%;
      height: 100%;
      background: #E2E2E2;
      z-index: -1;
      @include mq("sp") {
        left:0rem;
      }
    }
  }
  p{
    padding-left: 1rem;
    @include mq("sp") {
      padding-left: 0rem;
    }
  }
}

/*投稿ページ　アーカイブ*/
.l-home,
.l-archive {
  margin: 9rem auto 0rem;
  width: 100%;
  @include mq("sp") {
    margin: 4rem auto 0rem;
  }
  .l-home__content{
    margin: 6rem auto 0rem;
    @include mq("sp") {
      margin: 3rem auto 0rem;
    }
  }
}



/*固定ページ　フォームテンプレート*/
.l-page__form {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background: #efefef;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  .l-page__form-check {
    padding: 0 2rem;
    font-size: 1.6rem;
    @include mq("sp") {
      text-align: left;
      padding: 1rem 2rem;
    }
  }
}



